/* @common Styles */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Special Elite", cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ccc;
  padding-right: 3rem
}

/* @ menu */
.menu {
  width: 4rem;
  height: 4rem;
  background-color: red;
  position: fixed;
  top: 2rem;

  /* js 019
  css 014 : navbar width에 맞춰서 넣음
  left: 15vw;   */
  left: 2rem;

  z-index: 10;
}

/* js 019  */
.menu.change{
    left: 15vw;
}

/* @ navbar */

/* js */

.navbar {
  width: 15vw; /* css 014 */
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;

  /* js 019
  left: 0; */
  left: -15vw;

  display: flex;
  flex-direction: column;

  padding: 4rem 0 0 4rem;

  /* css 019 box-shadow가 navbar위로 올라와서 번지지 못하게, z-index 10 넣음 */
  z-index: 10;
}

/* js 019  */
.navbar.change{
    left: 0;
}
/* @ common section styles */

.wrapper {
  width: 100%;

  perspective: 50rem; /* css 017  */
}

section {
  width: 85vw;
  height: 100vh;
  background-color: #efefef;

  position: relative;

  /* js 019
  left: 15vw; */
  left: 0;

  margin-bottom: 3rem;

  /* css 017
  🍉 perspective & transform 3d

    To activate 3D space, an element needs perspective.

    https://3dtransforms.desandro.com/perspective
    
   w1) 한번에 붙여서 
    transform: perspective(50rem) rotateY(10deg); 
   
   w2) 부모 태그와 나누어서  */

  /* css 017
   js 019
  transform: rotateY(10deg);
 */

  /* transform-origin: left;
  https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin */
  transform-origin: left;

  box-shadow: 0.5rem 0.5rem 1rem #aaa; /* css 019 */
}

/* js 019  */
section.change{
    left: 15vw;

    transform: rotateY(10deg);
}